.btn {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--ifm-color-secondary);
}

.btn-secondary {
  background-color: var(--ifm-color-tertiary);
}
