.label {
  padding: 4px 8px;
  border-radius: 24px;
  font-size: 0.8rem;
  font-weight: 600;
  display: inline-block;
}

.red {
  background-color: #e34444;
  color: #ffffff;
}

.green {
  background-color: #238723;
  color: #ffffff;
}

.blue {
  background-color: #5555c0;
  color: #ffffff;
}

.yellow {
  background-color: #eba21b;
  color: #ffffff;
}
